
<div class="row mb-1"> 
    <div class="col-lg-8"></div>
  

        <div class="col-md-3 mt-3 mr-0 p-0">
            <div class="input-group">
                <input class="form-control rounded-pill py-2 pr-5 mr-1 bg-transparent" type="search" id="example-search-input1"  placeholder="Search By user Name" (keyup)="onSearch($event)">
                <span class="input-group-append">
                    <div class="input-group-text border-0 bg-transparent ml-n5"><i class="fa fa-search"></i></div>
                </span>
            </div>
        </div>

        <div class="col-lg-1 mt-3">
            <button class="btn btn-success" (click)="triggerModal(modalData)">add</button>
        </div>
</div>
<div *ngIf="users.length > 0 ;else noUsers ">
    <app-usr *ngFor="let user of filteredUsers" [userprop]="user"></app-usr>
</div>
<ng-template #noUsers>
    <p class="alert alert-danger bg-info fw-bold">
        No Users
    </p>
</ng-template>






<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <form  [formGroup] = "myForm" >

  <div class="modal-body">

        <div class="form-group" >
            <input  formControlName="name"  name="name" type="text" class="form-control"   />
            <p *ngIf="!nameStatus" class="alert alert-danger">
                Name must in range 2-14 
            </p>
        </div>
        <div class="form-group">
            <input formControlName="email" name="email" type="email" class="form-control"  />
            <p *ngIf="!emailStatus"  class="alert alert-danger">
                Email not valid
            </p>
        </div>
        <div class="form-group" >
            <input  formControlName="age"  name="age" type="number" class="form-control"   />
            <p *ngIf="!ageStatus" class="alert alert-danger">
                age shouldn't less than 18 
            </p>
        </div>
        <div class="form-group" >
            <input  formControlName="city"  name="city" type="text" class="form-control"   />
            <p *ngIf="!cityStatus" class="alert alert-danger">
                city required 
            </p>
        </div>
        <br>
           

  </div>
  <div class="modal-footer">
    <p *ngIf="myForm.invalid;"  class="alert alert-danger " style="margin: auto;">
        form is not valid
    </p>
   
    
    <input type="button" class="btn btn-lg btn-block btn-success" value="submit" (click)="register()">
    <button type="button" class="btn btn-lg btn-block btn-danger" (click)="modal.close('Save click')">Close</button>

    
  </div>
</form>

</ng-template>